EXPO_PUBLIC_SUPABASE_URL=https://qricqdjteztjieogfafm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyaWNxZGp0ZXp0amllb2dmYWZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MTcwNTgsImV4cCI6MjA5MzM5MzA1OH0.93a7S1KUwncetuHdQSZGpalAgeBRkMm0NdRt0TMssaA
